* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "RecursiveRegular";
    src: url("../font/RecursiveMonoCslSt-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    background: #1e1e2e;
    color: #bac2de;
    width: 100%;
    height: 100%;
    border: 0;
    font-family: "RecursiveRegular", serif;
}
#game-container {
    position: relative;
    text-align: center;
}
#score-counter {
    margin-top: 50px;
}
#canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.screen {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#start-screen {
    display: block;
}
button {
    border: solid;
    border-color: #89b4fa;
    background: #1e1e2e;
    color: #bac2de;
    font-size: 1.5em;
    padding: 1em;
    border-radius: 1em;
    font-family: "RecursiveRegular", serif;
    margin: 10px;
}
button:hover {
    background: #89b4fa;
    color: #1e1e2e;
}
canvas {
    display: block;
    border: solid;
    border-color: #89B4FA; 
}
